@model WebApplication1.Models.tb_diretor

@{
    ViewBag.Title = "Excluindo Diretor";
}

<h2>Excluindo diretor</h2>

<h3>Você tem certeza que quer excluir?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oscar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oscar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para a Lista", "Index")
        </div>
    }
</div>
